<h2>Delete Resource</h2>

<form id="deluser" name="deluser" #deleteuser="ngForm" (ngSubmit) = delete()>
    <table>
        <tr>
            <td>
                User id:
            </td>
            <td>
                <input type="text" name="id" id="id" placeholder="id" (keyup)=id($event)>
            </td>
        </tr>
        <br>
        <tr>
            <td>
                <button type="submit">Delete</button>
            </td>
            <td>
                <button type="reset">Reset</button>
            </td>
        </tr>
    </table>
</form>