<!-- <p>project works!</p> -->
<div class="pro_data">
    <font size=6><strong>PROJECTS AND ASSIGNMENTS : </strong></font>
    <ul>
        <div class="col-sm">
            <li><strong>Whatsapp Using Socket Programming</strong></li>
            Technology:C (Socket Programming)<br>
            Guide: Prof. Achyut K. Roy,CS Department, Pune University<br>
            Achieved synchronization among nodes in an ad-hoc peer to peer network.<br> 
            Packet handling and Decentralized architecture implemented

            <li><strong>Macro Assembler For IA-32 Architecture</strong></li>
            Technology:Python<br>
            Guide: Prof. Nitin Patil, CS Department, Pune University<br>
            Two pass assembler with Specific instructions from Intel Manual<br>
            <li><strong>Tic-Tac-Toe Game</strong></li>
            Technology:Python<br>
            Guide: Prof. Sneha Nikum, CS Department, Pune University<br>
            An AI game which will take decision on your moves.<br>
            <li><strong>Online Examination System</strong></li>
            Technology: Php,Mysql,Html,Css<br>
            Guide: Prof.Pawan Malani,ACS & CS Nashik.<br>
            Online Website for compitative examination without doing any kind of paper work.<br>
        </div>
    </ul>
</div>
