<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        User Operations
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/searchuser" routerLinkActive="active">Search User</a>
        <a class="dropdown-item" routerLink="/createuser" routerLinkActive="active">Create User</a>
        <a class="dropdown-item" routerLink="/updateuser" routerLinkActive="active">Update User</a>
        <a class="dropdown-item" routerLink="/deleteuser" routerLinkActive="active">Delete User</a>
    </div>
</div>
<div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
        Grooup Operations
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" routerLink="/searchgroup" routerLinkActive="active">Search Group</a>
        <a class="dropdown-item" routerLink="/creategroup" routerLinkActive="active">Create Group</a>
        <a class="dropdown-item" routerLink="/updategroup" routerLinkActive="active">Update Group</a>
        <a class="dropdown-item" routerLink="/deletegroup" routerLinkActive="active">Delete Group</a>
    </div>
</div>