<!-- <p>edu works!</p> -->
<div class="edu_data">
    <font size=6><strong>EDUCATION  </strong></font>
    <ul>
        <li> Scored 4.5 /10 GPA in MCA (Comp.Sci) from Department of Computer Science , Savitribai Phule Pune University</li>
        <li> Scored 56.08% in B.Sc (Comp. Sci) from ACS & CS K.K.Wagh Nashik</li>
        <li> Scored 54.17% in HSC from SNJB High School,Chandwad,Nashik.</li>
        <li> Scored 69.27% in SSC from SNJB English Medium School,Chandwad,Nashik.</li>
    </ul>
</div>
