<!-- <p>wrk-exp works!</p> -->
<div class="wrk_data">
    <font size=7><strong>WORK EXPERIANCE : </strong></font>
    <br>
    <div class="col-sm">
        <font size=3><strong>Internship at kPoint Technologies Pvt. Ltd.</strong></font>
        <ul>
            <li>Team Member of Quality Assurance.</li>
            <li>Features tested for WebEx Integration (Meetings and Recordings) and Podcast.</li>
            <li>Automation for Podcast feature and Webex.</li>
            <li>Server Deployment and knowledge of aws.</li>
        </ul>
    </div>
</div>