
<h1> Operations on user : </h1>
<br>

<table>

    <tr>
        <td id="operations">
            1. Search :
        </td>
        <td>
            You can search user by using this opertaion.
        </td>
    </tr>
    <tr>
        <td id="operations">
            2. Create :
        </td>
        <td>
            You can add new user into the system.
        </td>
    </tr>
    <tr>
        <td id="operations">
            3. Update :
        </td>
        <td>
            You can make changes to existing user In the system.
        </td>
    </tr>
    <tr>
        <td id="operations">
            4. Delete :
        </td>
        <td>
            You can delete user from the system.
        </td>
    </tr>

</table>

 

