<!-- <p>create works!</p> -->

<h1>Create</h1>
<br>
<form id="newgroup" name="newgroup" #creategroup="ngForm" (ngSubmit) = post(creategroup.value)>
    
    <table>
        <tr>
            <td id="field">Group Name :</td>
            <td>
                <input type="text" name="group_name" id="group_name" placeholder="group_name" ngModel><br>
            </td>
        </tr>
        <tr>
            <td>
                <button type="submit" >Create Group</button>            
            </td>
            <td>

                <button type="reset" > Reset</button>

            </td>
        </tr>
    </table>
</form>

<br>

<h3 *ngIf="isAdded">{{Confirmation}}</h3>