<div class="container">
  <header>
    <div class="logo_img">
      <img src="/assets/img/logo.jpg" alt="logo" id="logo">
    </div>
    <div class="header_data">
      <h1> <strong> Nihal Shardul</strong></h1>
      <h5> Web Developer</h5>
    </div>
  </header>

  <div class="body_area">
    <div class="navigation">
      <nav class="navbar navbar-expand navbar-light bg-light">
          <ul class="nav navbar-nav">
            <li class="nav-item ">  
              <a class="nav-link " routerLink="/home" routerLinkActive="active">Home</a></li>
            <li class="nav-item ">  <a class="nav-link" routerLink="/technical_knowledge" routerLinkActive="active">Technical Knowledge</a></li>
            <li class="nav-item ">  <a class="nav-link" routerLink="/work_exp" routerLinkActive="active">Work Experience</a></li>
            <li class="nav-item ">  <a class="nav-link" routerLink="/education" routerLinkActive="active">Education</a></li>
            <li class="nav-item ">  <a class="nav-link" routerLink="/project" routerLinkActive="active">Project</a></li>
            <li class="nav-item ">  <a class="nav-link" routerLink="/about" routerLinkActive="active">About</a></li>
          </ul>
      </nav>
    </div>
    
  </div>
  
  <!-- <div class="col-sm-9">
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <h2>I Love Food</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by Jane Dane, Sep 27, 2015.</h5>
    <h5><span class="label label-danger">Food</span> <span class="label label-primary">Ipsum</span></h5><br>
    <p>Food is my passion. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <br><br>
    
    <h4><small>RECENT POSTS</small></h4>
    <hr>
    <h2>Officially Blogging</h2>
    <h5><span class="glyphicon glyphicon-time"></span> Post by John Doe, Sep 24, 2015.</h5>
    <h5><span class="label label-success">Lorem</span></h5><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <hr>
  </div> -->

  <div id="main" class="data_area">
    <!-- <div class="row">
      <div id="sidebar" class="col-md-3">
      </div>
      <div id="main" class="col-md-9">
        php  -->
      <!-- </div>
    </div> -->
    <router-outlet></router-outlet> 
  </div>
  
  <footer class="fixed-bottom">
    Nihal Shardul
  </footer>

</div>




